@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  overflow-x: hidden;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}


@layer base {
.opening{
  font-family: "Poppins", serif;
  font-weight: 900;
}}