@tailwind base;
@tailwind components;
@tailwind utilities;


.lacquer-regular {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
  }
 
@layer base {
.loading{
    font-family: "Lacquer", serif;
}}